@page
@model PRN231.CPR.Page.Pages.StudentPages.IndexModel
@{
}
@{
    Layout = "../Shared/_LayoutHome.cshtml";

}
	<div class="container" style="padding:64px">
		<div class="main-content-account">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Student List </h2>
		</div>
		<div class="col-6 text-end">
			<a  asp-page="create" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Import List Lecturer
			</a>
		</div>
	</div>

	<br /><br />

	<form  method="get">
		<div class="form-actions no-color">
			<p>
				Find: 
				<select name="SearchBy">
					<option value="byname">by name</option>
					<option value="byid">by code</option>
					<option value="byemail">by email</option>
				</select>
				<input type="text" name="SearchString" value="@Model.CurrentFilter" />
				<input type="submit" value="Search" class="btn btn-primary" />
			</p>
		</div>
	</form>

	<table class="table table-bordered table-striped" style="table-layout: auto">
		<thead>
			<tr>
				<th>
					Code
				</th>
				<th>
					 Name
				</th>
				<th>
					Email
				</th>
				<th>
					Phone
				</th>
				<th>
					Gender
				</th>
				<th>
					Specialization Name
				</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Account != null && Model.Account.Count() > 0)
			{
				@foreach (var staff in Model.Account)
				{
					<tr>
						<td >@staff.Code</td>

						<td >@staff.Name</td>

						<td >@staff.Email</td>

						<td >@staff.Phone</td>

						<td >@staff.Gender</td>
						<td>@staff.Specialization.Name</td>						
					</tr>
				}
			}
		</tbody>
	</table>
	@if (Model.Account != null && Model.Account.Count() > 0)
	{
		
			var prevDisabled = !Model.Account.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.Account.HasNextPage ? "disabled" : "";

	<a asp-page="/StudentPages/Index"
	   asp-route-sortOrder="@Model.CurrentSort"
	   asp-route-pageIndex="@(Model.Account.PageIndex - 1)"
	   asp-route-currentFilter="@Model.CurrentFilter"
	class="btn btn-primary @prevDisabled">
		Previous
	</a>

			<a asp-page="/StudentPages/Index"
	   asp-route-sortOrder="@Model.CurrentSort"
	   asp-route-pageIndex="@(Model.Account.PageIndex + 1)"
	   asp-route-currentFilter="@Model.CurrentFilter"
	   class="btn btn-primary @nextDisabled">
		Next
	</a>
	}
	</div>
	</div>